@charset "UTF-8";

/*----------------------------------------
	事業内容専用
----------------------------------------*/

/* serviceWrap 
-------------------------------*/
.serviceWrap {
  margin-left: -20px;
  margin-right: -20px;
  padding-bottom: 80px;
  background: var(--c_sub);
}
@media screen and (min-width: 768px) {
  .serviceWrap {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
    padding-bottom: 200px;
    background: linear-gradient(
      to bottom,
      var(--c_white) 140px,
      var(--c_sub) 140px
    );
  }
}

/* service
-------------------------------*/
/*サービス紹介ブロック*/
.service:not(:first-child) {
  margin-top: 40px;
}
/*テキストブロック*/
.service__body {
  position: relative;
  z-index: 1;
  margin: -50px 20px 0;
  padding: 40px 20px;
  border: 1px solid var(--c_main);
  background: var(--c_white);
}
.service__title .sub {
  display: block;
  color: var(--c_main);
}
.service__title .main {
  display: block;
  font-size: 20px;
}
.service__txt {
  margin-top: 25px;
  font-size: 14px;
  line-height: 2;
}
.service__txt p + p {
  margin-top: 1em;
}
/* イメージ画像 */
.service__photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 30px;
}
.service__photos img {
  width: 100%;
}
@media (min-width: 568px) {
  .service__photos {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 768px) {
  /*サービス紹介ブロック*/
  .service {
    position: relative;
    padding-top: 70px;
  }
  .service:not(:first-child) {
    margin-top: 50px;
  }
  /*テキストブロック*/
  .service__body {
    width: calc((716 / 1084) * 100%);
    margin: 0;
    padding: 40px;
  }
  .service._reverse .service__body {
    margin-left: auto;
  }
  .service__title .sub {
    font-size: 20px;
  }
  .service__title .main {
    font-size: 28px;
  }
  .service__txt {
    font-size: 16px;
  }
  /* イメージ画像 */
  .service__image {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50vw;
  }
  .service._reverse .service__image {
    left: auto;
    right: 50%;
  }
  .service__image img {
    max-width: none;
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}
